<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.dasasian.chok.util.TestLoggerEvaluatorFilter"/>
        <encoder>
            <pattern>%-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.I0Itec.zkclient" level="ERROR"/>
    <logger name="org.apache.hadoop.util.NativeCodeLoader" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>